<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>About Sergio</title>
  </head>
  <body>
    <h1>About 2Pac</h1>
    <p>Tupac Amaru Shakur, nacido como Lesane Parish Crooks (Nueva York, 16 de junio de 1971-Las Vegas, 13 de septiembre de 1996 también conocido como 2Pac, Makaveli o simplemente Tupac, fue un rapero, actor, poeta y activista estadounidense. Es considerado por muchos como uno de los raperos más importantes de todos los tiempos, y más influyentes de la historia del rap. Gran parte de la obra Shakur se ha destacado por abordar los problemas sociales que plagaban los centros urbanos, por lo cual también es considerado un símbolo de resistencia y activismo contra la desigualdad.

        Shakur nació en el distrito de Manhattan de la ciudad de Nueva York, pero en 1988 se trasladó a la área de la Bahía de San Francisco. Más tarde, hacia 1993, se trasladó a Los Ángeles para continuar con su carrera musical. Inicialmente, Shakur estuvo de gira y fue bailarín de apoyo del grupo de hip-hop alternativo Digital Underground. En 1991, tras lanzar su primer álbum 2Pacalypse Now, se convirtió en una figura central del West Coast hip hop, introduciendo temas sociales en el género en un momento en que el gangsta rap era la corriente dominante. Shakur alcanzó un mayor éxito comercial y de crítica con sus siguientes álbumes: Strictly 4 My N.I.G.G.A.Z... (1993) y su aclamado por la crítica Me Against the World (1995), que ha sido considerado como su obra maestra.
        
        A finales de 1995, después de ser condenado por abuso sexual y ser víctima de un robo y tiroteo, Shakur se involucró fuertemente en la creciente rivalidad entre el hip hop de la costa este y oeste. Su álbum doble All Eyez on Me (1996) fue certificado como disco de Diamante por la Recording Industry Association of America (RIAA). El 7 de septiembre de 1996, Shakur recibió cuatro disparos de un asaltante desconocido en un drive-by en Las Vegas; murió seis días después y el tirador nunca fue capturado. The Notorious B.I.G., amigo de Shakur y más tarde, su mayor rival, fue considerado sospechoso al principio, pero también fue asesinado en otro drive-by varios meses después. Desde su muerte han sido lanzados cinco álbumes póstumos, todos ellos certificados como disco de platino.
        
        Shakur es uno de los artistas musicales con mayores ventas de todos los tiempos, habiendo vendido más de 75 millones de discos en todo el mundo. En 2002 fue incluido en el Salón de la Fama del Hip-Hop. En 2017 fue incluido en el Salón de la Fama del Rock and Roll durante su primer año de elegibilidad. Además, la revista Rolling Stone incluyó a Shakur en su lista de los 100 mejores artistas de todos los tiempos, ocupando el puesto 86.
        
        Fuera de la música, Shakur tuvo un éxito considerable como actor, con sus papeles estelares como Bishop en Juice (1992), Lucky en Poetic Justice (1993), donde actuó junto a Janet Jackson, Ezekiel en Gridlock'd (1997), y Jake en Gang Related (1997); obteniendo en todas ellas elogios de la crítica.</p>
  </body>
</html>